/* Chosen Color Palette:
  #142850 (navy)
  #27496d (muted royal)
  #00909e (blueish teal)
  #dae1e7 (light gray) */

:root {
  --background-color: #bbe1fa; /*light gray*/
  --header-color: #1b262c; /* navy */
  --text-color: #0f4c75; /* muted royal blue */
  --accent-color: #3282b8; /*blueish teal */
}


body {
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
  padding-top: 1.0rem;
  padding-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
}


h2 {
  color: var(--accent-color);
  padding-top: 1.2rem;
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  color: var(--text-color);
  padding-bottom: 0.3rem;
  font-size: 1.0rem;
  font-weight: 600;
}

main {
  padding-left: 20px;
  color: var(--text-color);
  width: 80%;
  max-width: 800px
}

p {
  padding-bottom: 1rem;
  line-height: 1.6
}

